@font-face {
    font-family: "calibri";
    src: url("../font/Calibri.ttf");
}

@font-face {
    font-family: "sayeh";
    src: url("../font/Sayeh.ttf");
}

* {
    font-size: 100%;
    font-family: calibri;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.300);
}

body {
    height: 500vh;
}

.f-sayeh {
    font-family: "sayeh";
}

.f-bold {
    font-weight: bold;
}

.font-30 {
    font-size: 30px;
}

.font-25 {
    font-size: 25px;
}

.bg-white-glass {
    background-color: rgba(255, 255, 255, 0.116);
}

#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.150), rgba(0, 0, 0, 0.150)), url("../image/gif/augustin-cart-gif-lofi-final.gif");
    background-position: center 75%;
    background-size: cover;
    background-color: #464646;
}

#logo {
    background-image: url("../image/logo.png");
    background-position: center center;
    background-size: cover;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    position: relative;
    top: -10px;

    animation: rotate 4s forwards infinite 2s;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    20% {
        transform: rotate(25deg)
    }
    40% {
        transform: rotate(-5deg);
    }
    60% {
        transform: rotate(0deg);
    }
}

