{% comment %} HEADER SITE, NAVS {% endcomment %}
<div>
    <header id="header">

        {% comment %} NAV USER, SOCIAL MEDIAS {% endcomment %}
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container d-flex flex-column flex-lg-row align-items-center justify-content-between">
                <div class="mb-1 mb-lg-0">

                    {% if user.is_authenticated %}
                        <form class="d-inline" action="{% url "user:logout" %}" method="post">
                            {% csrf_token %}
                            <button class="navbar-brand btn rounded-0 m-0 border-0 f-bold text-white" type="submit">
                                خروج
                                <i class="bi bi-box-arrow-left text-white" style="font-size: 19px;"></i>
                            </button>
                        </form>
                    {% else %}
                        <a class="navbar-brand btn rounded-0 m-0 border-0 f-bold text-white" href="{% url "user:login" %}?next={{ request.path }}">
                            ورود
                            <i class="bi bi-box-arrow-in-left text-white"></i>
                        </a>
                    {% endif %}

                    <a class="navbar-brand btn rounded-0 m-0 border-0 f-bold text-white" href="signup.html">ثبت نام <i class="bi bi-person-add text-white"></i> </a>
                    <a class="navbar-brand btn rounded-0 m-0 border-0 f-bold text-white" href="cart.html">سبد خرید <i class="bi bi-cart text-white"></i> </a>
                </div>
            
                <div class="my-1">
                    <form class="input-group ms-lg-5" dir="ltr" action="" method="get">
                        <input type="text" class="form-control bg-transparent text-white fw-bold text-end font-17" placeholder="جست و جو ..." dir="rtl">
                        <button class="btn btn-outline-white border-white border-start-0 font-17" type="submit"><i class="bi bi-search text-white"></i></button>
                    </form>
                </div>
            
                <div>
                    <a class="navbar-brand btn rounded-0 m-0 border-0" href="tel:+989182409113"> <i class="bi bi-telephone text-white"></i> </a>
                    <a class="navbar-brand btn rounded-0 m-0 border-0" href="mailto:aliaryu76@gmail.com"> <i class="bi bi-envelope-at text-white"></i> </a>
                    <a class="navbar-brand btn rounded-0 m-0 border-0" href="https://discord.gg/vZG8NGdjcG"> <i class="bi bi-discord text-white"></i> </a>
                    <a class="navbar-brand btn rounded-0 m-0 border-0" href="https://github.com/aliaryu"> <i class="bi bi-github text-white"></i> </a>
                    <a class="navbar-brand btn rounded-0 m-0 border-0" href="https://instagram.com/aliaryu"> <i class="bi bi-instagram text-white"></i> </a>
                </div>
            </div>
        </nav>

        {% comment %} NAV WEBSITE {% endcomment %}
        <nav class="navbar navbar-expand-lg bg-white-glass">
            <div class="container">

              <a class="navbar-brand d-flex f-sayeh font-30 pt-3 text-white" href="{% url "home:home" %}">کتاب فروشی آریو <i class="logo invert-color"></i></a>

              <button class="navbar-toggler border-0 delete-outline" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-list fs-3 text-white"></i>
              </button>
              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 pe-0 d-flex justify-content-center align-items-center">
                  <li class="nav-item">
                    <a class="nav-link active navbar-brand text-white" aria-current="true" href="{% url "home:home" %}">صفحه اصلی</a>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="nav-link active navbar-brand text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">دسته بندی ها</button>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active navbar-brand text-white" aria-disabled="true" href="{% url "about:about" %}">درباره ما</a>
                  </li>
                </ul>

              </div>

            </div>
        </nav>

        {% comment %} SLOGAN {% endcomment %}
        <div class="container p-5 p-lg-5">
            <div class="text-center">
                <h1 class="display-4 f-sayeh f-bold text-white">کتاب فروشی آریو</h1>
                <p class="mt-4 mb-0 f-sayeh f-bold font-25 text-white">کتاب ، تنها چیزی که شما نیاز دارید <span class="f-sayeh text-white">:)</span></p>
            </div>
        </div>

        {% comment %} MODAL CATEGORIES {% endcomment %}
        <div class="modal fade bg-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-modal-content">

                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <ul class="pe-0">

                            <li class="list-group-item font-20">
                                <a href="#" class="text-decoration-none text-black">
                                    همه کتاب ها
                                </a>
                            </li>
                            
                            <li class="list-group-item font-20">
                                <a href="#" class="text-decoration-none text-black">
                                    تخفیف دار ها
                                </a>
                            </li>

                            <li class="list-group-item font-20">
                                <a href="#" class="text-decoration-none text-black">
                                    ادبیات <i class="bi bi-caret-down-fill fs-6 top-2px"></i>
                                </a>
                                <ul class="list-group list-unstyled">
                                    <li class="font-20">
                                        <a href="#" class="text-decoration-none text-black">
                                            رمان
                                        </a>
                                    </li>
                                    <li class="font-20">
                                        <a href="#" class="text-decoration-none text-black">
                                            نمایش نامه
                                        </a>
                                    </li>
                                    <li class="font-20">
                                        <a href="#" class="text-decoration-none text-black">
                                            داستان کوتاه
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="list-group-item font-20">
                                <a href="#" class="text-decoration-none text-black">
                                    روانشناسی <i class="bi bi-caret-down-fill fs-6 top-2px"></i>
                                </a>
                                <ul class="list-group list-unstyled">
                                    <li class="font-20">
                                        <a href="#" class="text-decoration-none text-black">
                                            عمومی
                                        </a>
                                    </li>
                                    <li class="font-20">
                                        <a href="#" class="text-decoration-none text-black">
                                            کودکان
                                        </a>
                                    </li>
                                    <li class="font-20">
                                        <a href="#" class="text-decoration-none text-black">
                                            اجتماعی <i class="bi bi-caret-down-fill fs-6 top-2px"></i>
                                        </a>
                                        <ul class="list-group list-unstyled">
                                            <li class="font-20">
                                                <a href="#" class="text-decoration-none text-black">
                                                    فرهنگی
                                                </a>
                                            </li>
                                            <li class="font-20">
                                                <a href="#" class="text-decoration-none text-black">
                                                    جغرافیایی
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>

                            <li class="list-group-item font-20">
                                <a href="#" class="text-decoration-none text-black">
                                    تاریخی
                                </a>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </header>
</div>
