{% comment %} SECTION CONTACT, MAP {% endcomment %}
<div class="container-fluid my-5">
    <section class="container p-0">
        <div class="row g-4 g-lg-5 row-cols-1 row-cols-xl-2 justify-content-center">

            <div class="col">
                <h2 class="f-sayeh font-30 f-bold mb-4">راه های ارتباطی با ما:</h2>
                <form action="" method="post">
                    <div class="d-flex mb-2">
                        <input type="text" class="col form-control bg-transparent place-holder-grey f-bold ms-1" placeholder="نام و نام خانوادگی">
                        <input type="email" class="col form-control bg-transparent place-holder-grey f-bold me-1" placeholder="ایمیل">
                    </div>

                    <textarea class="form-control bg-transparent place-holder-grey f-bold" placeholder="متن پیام ..." rows="5"></textarea>
                    <button type="submit" class="col form-control bg-transparent f-bold mt-2"> ارسال <i class="bi bi-send-check"></i> </button>

                </form>
                <div class="d-flex justify-content-around mt-2">
                    <span class="font-15"><i class="bi bi-telephone font-15"></i> تفلن: 09182409113</span>
                    <span class="font-15"><i class="bi bi-envelope-at font-15"></i> ایمیل: aliaryu76@gmail.com</span>
                </div>
            </div>

            <div class="col pt-2 pt-xl-5" id="map-responsive">
                <iframe class="custom-border" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2348.7747705363386!2d46.408768786798674!3d33.639812806375204!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sde!4v1702346544649!5m2!1sen!2sde" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </section>
</div>