{% comment %} SECTION FEATURE {% endcomment %}
<section class="container-fluid my-5">
    <div class="container px-0">

        <div class="row g-3 row-cols-3 row-cols-md-4 row-cols-xl-6 justify-content-center">

            <div class="col text-center p-0">
                <img class="feat-img" src="static/image/feat-icon/courier.png" alt="fast-delivery" width="50px">
                <span class="d-block">تحویل سریع</span>
            </div>

            <div class="col text-center p-0">
                <img class="feat-img" src="static/image/feat-icon/protection.png" alt="productc-protection" width="50px">
                <span class="d-block">سلامت کالا</span>
            </div>

            <div class="col text-center p-0">
                <img class="feat-img" src="static/image/feat-icon/cash-on-delivery.png" alt="cash-on-delivery" width="50px">
                <span class="d-block">پرداخت در محل</span>
            </div>

            <div class="col text-center p-0">
                <img class="feat-img" src="static/image/feat-icon/free-delivery.png" alt="free-delivery" width="50px">
                <span class="d-block">ارسال رایگان</span>
            </div>

            <div class="col text-center p-0">
                <img class="feat-img" src="static/image/feat-icon/gift-box.png" alt="discounts" width="50px">
                <span class="d-block">تخفیفات متنوع</span>
            </div>

            <div class="col text-center p-0">
                <img class="feat-img" src="static/image/feat-icon/books.png" alt="books" width="50px">
                <span class="d-block">جدید ترین کتاب ها</span>
            </div>

        </div>

    </div>
</section>
