{% extends "main.html" %}
{% load static %}

{% block content %}
    {% include "product/includes/book/image_detail.html" %}
    {% include "product/includes/book/tags.html" %}
    {% include "product/includes/book/description_excerpt.html" %}
    {% include "product/includes/book/comments.html" %}
{% endblock content %}

{% block javascript %}
    <script src="{% static "js/scroll.js" %}"></script>
    <script src="{% static "js/save_unsave.js" %}"></script>
    <script src="{% static "js/like_unlike.js" %}"></script>
    <script src="{% static "js/book_comment.js" %}"></script>
    <script src="{% static "js/cookie.js" %}"></script>
    <script src="{% static "js/addtocart.js" %}"></script>
{% endblock javascript %}
